<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="utf-8">
    <meta name="referrer" content="always">
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <title>Fintech News</title>
  </head>

  <body>
    <%= yield %>

    <!-- TODO(mtwilliams): Handle fonts with Webpack. -->
    <!-- TODO(mtwilliams): Self host. -->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700' rel='stylesheet' type='text/css'>
  </body>
</html>
