<script type="text/javascript">
  window.Broadsheet = {
    App: {
      state: {
        session: <%= session.to_json %>
      }
    }
  };
</script>

<div id="spa">
  <!-- This is where the magic happens! -->
</div>

<link type="text/css" href="<%= revisioned 'bundle.css' %>" rel="stylesheet">
<script type="text/javascript" src="<%= revisioned 'bundle.js' %>"></script>
