<footer class="app-footer">
  <div class="container">
    <p class="app-footer__mark">
      Published by <a href="https://twitter.com/__devbug">Mike</a> &amp; <a href="https://twitter.com/kineshanko">Tom</a>
    </p>
    <p class="app-footer__ingredients">
      Powered by <a class="footer-ingredient" href="https://www.kickinghorsecoffee.com/en/home"><span class="footer-ingredient__icon typcn typcn-coffee"></span></a> &amp; <a class="footer-ingredient" href="https://www.youtube.com/watch?v=lt-udg9zQSE"><span class="footer--ingredient__icon typcn typcn-notes"></span></a>
    </p>
  </div>
</footer>
