<div class="join">
  <div class="join-header">
    <h1>Join us!</h1>
    <p>We're a crazy bunch of finance gurus and code geniuses interested in finance and financial technology. We'd love to have you in our fold.</p>
  </div>
  <div class="join-form">
    <form>
      <div class="opt-in">
        <input type="checkbox" id="opt_into_newsletter" name="" value="1" checked>
        <label for="opt_into_newsletter">
          <strong>Receive our weekly newsletter.</strong>
          The very best financial technology stories of the week delivered with insight every Sunday @ 8pm EST.
        </label>
      </div>
    </form>
  </div>
</div>
