<div class="newsletter">
  <div class="newsletter__engraving">
    <h1>Our Weekly Newsletter</h1>
    <p>The very best financial technology stories of the week with insight, delivered right to your inbox.</p>
    <template v-if="app.state.session.authenticated">
      <input name="email" v-model="email" type="hidden" value="{{app.state.session.user.email}}">
    </template>
    <template v-else>
      <input class="newsletter__email" name="email" v-model="email" type="email" placeholder="john@doe.com">
    </template>
    <input class="newsletter__subscribe" type="submit" @click="subscribe" value="Subscribe" :disabled="!isEmailValid">
  </div>
</div>
